<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>더보기 MVC 패턴 예제</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>
<body>

<div class="wraper story">
    <header id="gnb" class="header service_header">
        <h1 class="logo"><a href="#">더보기 MVC 패턴 예제</a></h1>
    </header>
    <section id="ct" class="jr_ct"></section>
    <div class="cu_pg cu_pg_w"></div>
</div>

<!--리스트에 출력될 템플릿-->
<script type="text/template" id="autoScrollList">
    <div class="card_wrap">
        <div class="card type_basic">
            <a href="#">
                <span class="img_wrap">
                   <span class="inner"><img src="<%- thumb %>" alt=""></span>
                   <span class="time"><span><%- playTime %></span></span>
                </span>
                <% if(badge === 1) { %><span class="icon">따끈따끈</span><% } %>
                <h3 class="title"><span class="menu"><%- category %></span><%- title %></h3>
            </a>
            <div class="u_likeit_list_module">
                <a href="#" class="u_likeit_list_btn u_type_bright u_none_txt">
                    <span class="u_ico"></span><em class="u_txt">좋아요</em><em class="u_cnt">0</em>
                </a>
            </div>
        </div>
    </div>
</script>

<!--더보기에 출력될 템플릿-->
<script type="text/template" id="autoScrollBottom">
    <a href="javascript:void(1);" class="cu_pg_btn">
        <span class="cu_pg_wrap">
            <span class="cu_pg_area">
                <span class="u_pg_lodic"></span>
                <span class="cu_pg_txt">
                    더보기 <span class="cu_pg_cnt"><%- current %>/<%- total %></span>
                </span>
            </span>
        </span>
    </a>
</script>

<!--더보기가 끝났을 때 출력될 템플릿-->
<script type="text/template" id="autoScrollFinish">
    <p class="notice_end_ct">마지막 콘텐츠입니다.</p>
</script>

<script src="static/vendor/jquery/dist/jquery.min.js"></script>
<script src="static/vendor/underscore/underscore-min.js"></script>
<script src="static/hunyong.song-1.0.0.js"></script>
<script>
    var model = new nts.model.AutoScrollEntity();
    var view = new nts.view.AutoScrollView();
    var controller = new nts.controller.AutoScrollController(model, view);
</script>
</body>
</html>
